* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: black;
}

@font-face {
  font-family: digitalfont;
  src: url('./digital-7.ttf');
}

h1 {
  font-family: digitalfont;
  color: lime;
  font-size: 13vw;
}

.inner-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}